USE [master]
GO
/****** Object:  Database [PITANG_SEFAZ]    Script Date: 12/05/2021 18:53:28 ******/
CREATE DATABASE [PITANG_SEFAZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PITANG_SEFAZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PITANG_SEFAZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PITANG_SEFAZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PITANG_SEFAZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PITANG_SEFAZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PITANG_SEFAZ]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 12/05/2021 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[Id_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Cargo] [nchar](20) NOT NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[Id_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGAOS]    Script Date: 12/05/2021 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGAOS](
	[Id_Orgao] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Orgao] [nchar](20) NOT NULL,
	[Id_Sistema] [int] NOT NULL,
 CONSTRAINT [PK_ORGAOS] PRIMARY KEY CLUSTERED 
(
	[Id_Orgao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SISTEMA]    Script Date: 12/05/2021 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SISTEMA](
	[Id_Sistema] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Sistema] [nchar](20) NOT NULL,
 CONSTRAINT [PK_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[Id_Sistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/05/2021 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Usuário] [nchar](30) NOT NULL,
	[Cpf] [nchar](30) NOT NULL,
	[Id_Cargo] [int] NULL,
	[Id_Orgao] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORGAOS]  WITH CHECK ADD  CONSTRAINT [FK_ORGAOS_SISTEMA] FOREIGN KEY([Id_Sistema])
REFERENCES [dbo].[SISTEMA] ([Id_Sistema])
GO
ALTER TABLE [dbo].[ORGAOS] CHECK CONSTRAINT [FK_ORGAOS_SISTEMA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CARGO] FOREIGN KEY([Id_Cargo])
REFERENCES [dbo].[CARGO] ([Id_Cargo])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CARGO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ORGAOS] FOREIGN KEY([Id_Orgao])
REFERENCES [dbo].[ORGAOS] ([Id_Orgao])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ORGAOS]
GO
USE [master]
GO
